.nav-controls.issues-nav-controls.gl-my-5
  = link_to @project.external_issue_tracker.new_issue_url, class: 'btn gl-button', target: '_blank', rel: 'noopener noreferrer' do
    = _('Create new issue in Jira')
    = sprite_icon('external-link', css_class: 'gl-ml-1')
