= render "admin/geo/shared/replication_nav"
#js-geo-replicable{ data: { "geo-replicable-empty-svg-path" => image_path("illustrations/empty-state/geo-replication-empty.svg"),
  "geo-troubleshooting-link" => help_page_path("administration/geo/replication/troubleshooting.html"),
  "replicable-type" => @replicator_class.replicable_name_plural,
  "graphql-field-name" => @replicator_class.graphql_field_name } }
